.about {

}

.about__title{
    margin: 0;
    font-size: 2.4em;
    color: #000;
    font-weight: 500;
}

    .about__title:focus{
        outline: none;
    }

    .about__title:not(:last-child) {
        margin-bottom: 1.25em;
    }

.about__content {
    font-size: 1.8em;
    color: #4F4F4F;
    text-align: justify;
    text-indent: 1.66666666em;
}

    .about__content p {
        margin: 0;
    }

        .about__content p:first-letter {
            text-transform: capitalize;
        }

        .about__content p:not(:last-child) {
            margin-bottom: 2em;
        }