@page "/about"

<PageTitle>О нашем фонде</PageTitle>

<section class="about">
    <Container>
        <h1 class="about__title">О нашем фонде</h1>
        <div class="about__content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis id placerat leo, ligula est auctor metus. 
                Egestas adipiscing urna fames magna rhoncus, aliquam. Tincidunt justo, arcu vel in. Proin interdum facilisis eget 
                lacus, ultrices. Tempus ut volutpat cursus nunc, orci in. Et ultricies aliquam orci augue at leo.
            </p>
            <p>
                habitasse. Eu vel elit elementum leo eu facilisis. Placerat eu, vulputate sed duis vel eget. Ipsum, eget egestas 
                ultrices dictum nullam praesent libero faucibus mauris. Ultrices eu vulputate turpis facilisi. Ultrices tincidunt rhoncus, 
                lobortis turpis enim, vitae, id. Id netus commodo mattis turpis duis suscipit et. Nascetur luctus gravida a ut enim sed purus, 
                dui ac. Turpis accum.
            </p>
            <p>
                san in facilisi mattis sodales nunc suscipit. Vel dolor in lectus massa vitae. Dolor pellentesque venenatis, ornare 
                donec iaculis vitae augue. Sed ut tortor neque est nibh ante molestie vestibulum. Erat egestas ut porta hac ut iaculis 
                sit sagittis convallis. A diam nulla ut mattis phasellus nisl quam luctus condimentum. Bibendum purus quis faucibus.
            </p>
            <p>
                tortor mattis nibh integer faucibus orci. Egestas sodales nascetur risus in amet, mattis. Maecenas id gravida pulvinar 
                pellentesque placerat scelerisque.
            </p>
        </div>
    </Container>
</section>

@code {

}
