.cart-section ::deep .quantity{
    font-size: 0.714284em;
}

.cart-section ::deep .product__total {
    font-size: 1.7142857em;
    color: #333;
}

    .cart-section ::deep .product__total span {
        color: #828282;
    }

    @media only screen and (max-width: 48em){
        .cart-section ::deep .product {
            flex-direction: column;
            align-items: center;
            row-gap: 2em;
        }

        .cart-section ::deep .product__status .product__total {
            padding: 0.5em;
        }
    }
    
