@page "/delivery"

<Container><Breadcrumb Path=null /></Container>

<Container>
    <section class="delivery-section">
        <h1 class="delivery-section__title">Оплата и доставка</h1>
        <div class="delivery-section__content">
            <article class="delivery-section__partition">
                <h2>Доставка и самовывоз</h2>
                <p>Интернет-заказы формируются менеджером в течение 1-2 дней.</p>
            </article>
            <article class="delivery-section__partition">
                <h2>Самовывоз</h2>
                <p>После подтверждения менеджером и оплаты заказа. Заказ можно забрать в любой день с 12 до 20, по адресу: Стромынский переулок, дом 6.</p>
            </article>
            <article class="delivery-section__partition">
                <h2>Доставка кормов и малогабаритных товаров</h2>
                <p>
                    В пределах МКАД: от 300 рублей.
                    За МКАД до 5 км: от 500 рублей
                    За МКАД до 10 км: от 800 рублей
                    За МКАД более 10 км: от 900 рублей
                </p>
                <p>Цену доставки устанавливает курьерская служба Dostavista.</p>
                <p>Поправки к заказу после подтверждения заказа менеджером принимаются только по телефону +7 (926) 953-73-35 не позднее чем за 3 часа до ожидаемого времени прибытия заказа. </p>
                <p>Живые/замороженные корма и хрупкие товары доставляются только по Москве.</p>
                <p>Доставка крупногабаритных или тяжелых товаров (общей массой более 5 кг) по городу и области осуществляется силами транспортных компаний.</p>
                <p>Доставка в регионы осуществляется транспортными компаниями ПЭК и Боксберри. Стоимость услуги оплачивается клиентом.</p>
            </article>
            <article class="delivery-section__partition">
                <h2>Оплата</h2>
                <p>Оплатить заказ вы можете одним из следующих способов:</p>
                <p>Наличными при получении (при заказе до 5000₽ по Москве и Московской области)</p>
                <p>Оплата онлайн (через систему ROBOKASSA)</p>
                <p>Наш интернет-магазин работает на основе системы электронных платежей ROBOKASSA, объединяющей в себе различные формы оплаты без комиссии:</p>

                <ul>
                    <li>Банки</li>
                    <li>Пластиковые карты</li>
                    <li>Оплата через iPhone</li>
                    <li>Выставление счета в интернет-банк</li>
                    <li>Оплата в розничных сетях</li>
                    <li>Электронные деньги</li>
                    <li>Терминалы моментальной оплаты</li>
                    <li>При оформлении заказа через меню корзины выберите из списка вариантов подходящий способ доставки и форму оплаты «Оплата через Робокассу», после чего нажмите на кнопку «Отправить».</li>
                </ul>

                <p>
                    В появившемся на экране уведомлении при нажатии на кнопку «Оплатить» произойдет автоматический переход на страницу с вариантами оплаты, где вам потребуется выбрать нужный вам способ и, указав требуемые в инструкции данные, совершить оплату.
                </p>
                <p>После этого заказ будет считаться подтвержденным и поступит в обработку.</p>
            </article>
        </div>
    </section>
</Container>