@page "/"

<PageTitle>Главная</PageTitle>

<div class="page">
    <Section Title="Каталог" Items="AppData.CatalogCards" Href="/catalog"/>

    <Section Title="Готовые миксы" Items="AppData.MixesCards" ProductsSection=true Href="/mixes"/>
</div>