@page "/catalog/mixes/ingredient"

<PageTitle>Ингредиент</PageTitle>

<Container>
    <Breadcrumb Path="@breadcrumbs" />
</Container>

<div class="object-container">
    <DetailSection Item="AppData.GrainDetails" />

    <Section Is4Section=true Title="С этим товаром смотрят" Items="AppData.ProductTheyLook" />

    <Section Is4Section=true Title="С этим товаром покупают" Items="AppData.ProductTheyBuy" />
</div>

@code {
    private List<LinkModel> breadcrumbs = new List<LinkModel>() {
        new() { Url = "/catalog", Text = "Каталог" },
        new() { Url = "/catalog/mixes", Text = "Готовые миксы" },
        new() { Url = "/catalog/mixes/mix", Text = "Пшеница"}
    };
}