@page "/catalog/kits"

<PageTitle>Готовые комплекты</PageTitle>

<Container>
    <Breadcrumb Path="@breadcrumbs" />
</Container>

<Section Is4Section=true Items="AppData.KitsList" ManyPages=true></Section>


@code {
    private List<LinkModel> breadcrumbs = new List<LinkModel>() {
        new() { Url = "/catalog", Text = "Каталог" },
        new() { Url = "/catalog/kits", Text = "Готовые комплекты" }
    };
}
