@page "/catalog/mixes"

<PageTitle>Готовые миксы</PageTitle>

<Container>
    <Breadcrumb Path="@breadcrumbs" />
</Container>

<Section Is4Section=true Items="AppData.MixesList" ManyPages=true></Section>


@code {
    private List<LinkModel> breadcrumbs = new List<LinkModel>() {
        new() { Url = "/catalog", Text = "Каталог" },
        new() { Url = "/catalog/mixes", Text = "Готовые миксы" }
    };
}
