.main{
    padding: 1.5em;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main__content{
    display: grid;
    grid-row-gap: 2em;
}

.main__content ::deep .logo{
    justify-content: center;
}