.details__radio {
    display: flex;
    row-gap: 0.5em;
}

.details__weight-label {
    position: relative;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 500;
    padding: 0.1em 0.5em;
    border-radius: 5px;
    white-space: nowrap;
}

    .details__weight-label ::deep input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .details__weight-label.checked {
        outline: 1px solid #3ECF5E;
    }