<section class="section">
    <Container>
        @if (!String.IsNullOrEmpty(Title))
        {
            <SectionTitle Href="@Href">@Title</SectionTitle>
        }
        <div class=@((ProductsSection) ? "section__cards products-section" : "section__cards")>
            @if (Items is not null){
                @foreach (CardModel model in Items)
                {
                    <Card Item="@model" />
                }
            }
        </div>
    </Container>
</section>

@code {
    [Parameter]
    public List<CardModel>? Items { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public bool ProductsSection { get; set; }
    [Parameter]
    public string Href { get; set; }
}
