.bullet {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    background: transparent;
    color: #828282;
    padding: 0.5em 1em;
}

    .bullet:hover:not(.active) {
        cursor: pointer;
    }

    .bullet.active {
        color: #219653;
    }