@inject IJSRuntime js

<button class=@((Active) ? "burger active" : "burger")
        @onclick="OnClick"
        type="button" aria-label="Меню">
    <span></span>
    <span></span>
    <span></span>
</button>

@code {
    private bool active = false;

    public bool Active
    {
        get => active;
        set
        {
            active = value;

            if (active)
            {
                Task.Run(() => ScrollLock());
            }
            else
            {
                Task.Run(() => ScrollUnlock());
            }
        }
    }

    [Parameter]
    public EventCallback OnClick { get; set; }

    public void ToggleBurger()
    {
        Active = !Active;
    }

    public void Refresh()
    {
        StateHasChanged();
    }

    private async Task ScrollLock()
    {
        await js.InvokeVoidAsync("scrollLock");
    }

    private async Task ScrollUnlock()
    {
        await js.InvokeVoidAsync("scrollUnlock");
    }
}