.donation-form{
    max-width: 50%;
}

.donation-form__fieldset{
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    margin: 0;
    padding: 0;
}

.donation-form__legend {
    padding: 0;
    font-size: 3.6em;
    color: #fff;
    margin-bottom: 2em;
    font-weight: 600;
}

    .donation-form__radiobuttons {
        display: flex;
        column-gap: 4em;
        row-gap: 2em;
        flex-wrap: wrap;
    }

    .donation-form__radiobuttons ::deep input{
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .donation-form__label {
        font-size: 1.8em;
        position: relative;
    }

        .donation-form__label:hover{
            cursor: pointer;
        }

        .donation-form__label span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1.8em;
            padding: 0.125em 1.8em;
        }

        .donation-form__label span::before {
            display: flex;
            align-items: center;
            justify-content: center;
            content: "";
            position: absolute;
            top: calc(50% - 0.6945em);
            left: 0;
            width: 1.389em;
            height: 1.389em;
            border-radius: 3px;
            background-color: #fff;
            font-size: 1em;
            font-weight: 600;
            color: #333;
        }

        .donation-form__label.checked span::before {
            content: "\2714";
        }

        .donation-form__radiobutton {
        }

.donation-form__send{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.donation-form__send ::deep input::-webkit-outer-spin-button,
.donation-form__send ::deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.donation-form__send ::deep input {
    padding: 1em;
    font-size: 1.8em;
    border-radius: 10px;
    border: none;
    outline: 2px solid #fff;
    transition: .4s ease;
    flex: 1 1 auto;
}

    .donation-form__send ::deep input:focus {
        outline: 3px solid #333;
    }

    .donation-form__send ::deep input::placeholder {
        transition: .4s ease;
    }

        .donation-form__send ::deep input:focus::placeholder {
            transform: translate3d(-100%,0,0);
        }

.donation-form__button {
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 1.8em;
    font-family: 'Gilroy';
    font-weight: 600;
    transition: .4s ease;
    border-radius: 10px;
    padding: 1em;
    color: #333;
}

.donation-form__button:hover{
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 48em){
    .donation-form{
        max-width: unset;
    }
}