<footer class="footer">
    <Container>
        <div class="footer__links">
            <a href="/delivery" class="footer__link">Оплата</a>
            <a href="/delivery" class="footer__link">Доставка</a>
        </div>
        <div class="footer__socials">
            <Tooltip Text="В контакте">
                <a href="https://vk.com" target="_blank">
                    <img src="images/icons/social/vk.svg" alt="ВК" />
                </a>
            </Tooltip>
            <Tooltip Text="Инстаграм">
                <a href="https://instagram.com" target="_blank">
                    <img src="images/icons/social/instagram.svg" alt="Инстаграм" />
                </a>
            </Tooltip>
        </div>
        <Telephone Theme="ThemeType.Light" />
    </Container>
</footer>

@code {

}
