.login-form {
    display: flex;
    justify-content: center;
}

.login-form__fieldset {
    padding: 4.5em 4em;
    display: grid;
    grid-template-areas:
        'telephone telephone'
        'password password'
        'link button';
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 7em;
    margin: 0 auto;
    border: none;
    max-width: 65em;
    position: relative;
}

.login-form__link{
    grid-area: link;
}

.login-form__button {
    grid-area: button;
}

.login-form__element_telephone {
    grid-area: telephone;
}

.login-form__element_password {
    grid-area: password;
}

.login-form__legend{
    font-size: 2.4em;
    font-weight: 600;
}

.login-form__element {
    position: relative;
}

    .login-form__element ::deep .login-form__input {
        padding: 0.8333333em 1.1111111em;
        background-color: #f2f2f2;
        font-size: 1.8em;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        transition: .4s ease;
        width: 100%;
        box-sizing: border-box;
    }

.login-form__label {
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-size: 1.8em;
    color: #828282;
    position: absolute;
    left: 1.1111111em;
    top: 0.7333333em;
    transition: .4s ease;
}

.login-form__element ::deep .login-form__input:focus {
    background-color: #fff;
}

    .login-form__element ::deep .login-form__input:focus + .login-form__label,
    .login-form__label.has-value {
        left: 0;
        top: -1.7em;
        background-color: #333;
        color: #fff;
    }    

.login-form__element ::deep .login-form__input:focus {
    outline: none;
    box-shadow: 4px 6px #333333d5;
    transform: translate3d(-0.1em,0,0);
}

.login-form__error {
    font-size: 1.4em;
    color: lightcoral;
    padding: 0.4em 0 0.7em 0;
}

.login-form__link,
.login-form__button{
    padding: 0.9375em;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: .4s ease;
    font-size: 1.6em;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
}

    .login-form__link{
        border: 1px solid #bdbdbd;
        background-color: #fff;
    }

.login-form__button {
    background-color: #3ecf5e;
    color: #fff;
}

.login-form__link:hover {
    background-color: #333;
    color: #fff;
}

.login-form__button:hover{
    background-color: seagreen;
}

.login-form__link:hover,
.login-form__button:hover {
    cursor: pointer;
}

.login-form__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.7em;
    right: 1.5em;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 2em;
    color: #3fcf5e;
    border-radius: 50%;
    transition: .4s ease;
}

    .login-form__close:hover {
        cursor: pointer;
        background-color: #3fcf5e;
        color: #fff;
    }

    @media only screen and (max-width: 31.25em) {
        .login-form__fieldset {
        grid-template-areas:
            'telephone telephone'
            'password password'
            'link link'
            'button button';
    }
}