.dialog {
    padding: 0;
    border-radius: 10px;
    border: none;
    transform: scale(0);
    transition: 1s ease-in-out;
}

    .dialog::backdrop {
        background: rgba(3, 128, 31, 0.4);
    }

    .dialog::-webkit-scrollbar {
        width: 0.4em;
        transition: 1s;
    }

    .dialog::-webkit-scrollbar-track {
        background-color: #f9f9f9;
        border-radius: 15px;
    }

    .dialog::-webkit-scrollbar-thumb {
        background-color: seagreen;
        border-radius: 15px;
        border: 0.1em solid #f9f9f9;
    }

.dialog__body {
    background-color: #fff;
    padding: 4em 2em;
    position: relative;
}

.button__close {
    font-size: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3ecf5e;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    border: none;
    background: transparent;
    padding: 0;
    border-radius: 50%;
    transition: .4s ease;
}

    .button__close:hover {
        cursor: pointer;
        background-color: #3ecf5e;
        color: #fff;
    }

.dialog[open] {
    transform: scale(1);
}