@inject IJSRuntime js

<dialog class="dialog" @ref=dialog @onmousedown="Close" @onkeydown="OnKeyDown">
    <div class="dialog__body" @onmousedown:stopPropagation>
        @ChildContent
        <button class="button__close" type="button" @onclick="Close">
            &#10006;
        </button>
    </div>
</dialog>

@code {
    private ElementReference dialog;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public async Task Open(){
        await js.InvokeVoidAsync("openDialog", dialog);
        await js.InvokeVoidAsync("scrollLock");
    }

    public async Task Close()
    {
        await js.InvokeVoidAsync("closeDialog", dialog);
        await js.InvokeVoidAsync("scrollUnlock");
    }

    private async Task OnKeyDown(KeyboardEventArgs args){
        if (args.Key == "Escape"){
            await js.InvokeVoidAsync("scrollUnlock");
        }
    }
}
