@inject IJSRuntime js

<button @onclick="ScrollOnTop" class="on-top" aria-label="Наверх" type="button">
    <img src="@Image" alt="Наверх" />
</button>

@code {
    [Parameter]
    public string? ElementID { get; set; }
    [Parameter]
    public string? Image { get; set; }

    private async Task ScrollOnTop()
    {
        await js.InvokeVoidAsync("scrollOnTop", ElementID);
    }
}
