<form method="get" action="#" class="search-form">
    <div class="search-form__container">
        <input type="search" placeholder="Поиск" class="search-form__input" />
        <button type="submit" aria-label="Поиск" class="search-form__button" @onclick:preventDefault>
            <img src="images/icons/search.svg" alt="Поиск" />
        </button>
    </div>
</form>

@code {

}
