<h2 class="section-title">
    <span>@ChildContent</span> <a href="@Href">Ещё</a>
</h2>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string Href { get; set; }
}
