:root {
    scroll-behavior: smooth;
    --preloader-color: #4f4f4f;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), url('../fonts/Gilroy-SemiBold.woff2') format('woff2'), url('../fonts/Gilroy-SemiBold.woff') format('woff'), url('../fonts/Gilroy-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inglobal';
    src: url('../fonts/inglobal.woff2') format('woff2'), url('../fonts/inglobal.woff') format('woff'), url('../fonts/inglobal.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Gilroy', sans-serif;
    background: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.8em;
    transition: 1s;
}

body::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: seagreen;
    border-radius: 15px;
    border: 0.2em solid #f9f9f9;
    min-height: 1em;
}

.page {
    display: grid;
    grid-row-gap: 7.5em;
}

    .page > .donation-section {
        margin-bottom: -7.5em;
    }

    .page ::deep .container

    .nothing {
        padding: 2em;
        font-size: 1.6em;
        margin: 0;
        text-align: center;
    }

.preloader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

    .preloader div {
        color: var(--preloader-color);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.4em;
        letter-spacing: 0.2em;
        font-weight: 600;
    }

    .preloader .line {
        width: 0.1em;
        height: 1.2em;
        background: var(--preloader-color);
        margin: 0 0.1em;
        display: inline-block;
        animation: opacity 1000ms infinite ease-in-out;
    }

    .preloader .line-1 {
        animation-delay: 800ms;
    }

    .preloader .line-2 {
        animation-delay: 600ms;
    }

    .preloader .line-3 {
        animation-delay: 400ms;
    }

    .preloader .line-4 {
        animation-delay: 200ms;
    }

    .preloader .line-6 {
        animation-delay: 200ms;
    }

    .preloader .line-7 {
        animation-delay: 400ms;
    }

    .preloader .line-8 {
        animation-delay: 600ms;
    }

    .preloader .line-9 {
        animation-delay: 800ms;
    }

.object-container {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
}

.nothing {
    font-size: 1.8em;
    text-align: center;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
